<div class="container-fluid">
  <div class="row">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <span class="logo">S</span>
          <a href="#" class="navbar-brand h1 mb-0">Scheduler</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="row mt-1">
    <div class="col-md-4">
      <h3>Login</h3>
      <app-login></app-login>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-7">
      <h3>My Prompts</h3>
      <div>
        <div class="col-md-5">
          <app-prompt-editor></app-prompt-editor>
        </div>
      </div>
    </div>
  </div>
</div>
