<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <label for="emailLoginInput" class="mb-1">Email</label>
    <input
      class="form-control"
      type="text"
      id="emailLoginInput"
      autocomplete="email"
      placeholder="Email"
      formControlName="email"
      name="emailLoginInput"
    />
  </div>
  <div class="form-group mb-2">
    <label for="passwordLoginInput" class="mb-1">Password</label>
    <input
      class="form-control"
      type="password"
      id="passwordLoginInput"
      placeholder="Password"
      formControlName="password"
      name="passwordLoginInput"
    />
  </div>
  <p *ngIf="loginSuccess" class="text-success">Successful Login</p>
  <button type="submit" *ngIf="loginForm.valid" class="btn btn-primary me-2">
    Login
  </button>
  <button type="button" class="btn btn-warning" (click)="clearForm()">
    Clear
  </button>
</form>
